{% extends "shop/base.html" %}
{% load staticfiles %}

{% block content %}
<h1>Pay by credit card</h1>
<form action="." id="payment" method="POST">
    <label for="card-number">Card Number</label>
    <div id="card-number" class="field"></div>
    <label for="cvv">CVV</label>
    <div id="cvv" class="field"></div>
    <label for="expiration-date">Expiration Date</label>
    <div id="expiration-date" class="field"></div>
    <input type="hidden" id="nonce" name="payment_method_nonce">
    {% csrf_token %}
    <input type="submit" value="Pay">
</form>
<!-- Load the required client component. -->
<script src="https://js.braintreegateway.com/web/3.29.0/js/client.min.js"></script>
<!-- Load Hosted Fields component. -->
<script src="https://js.braintreegateway.com/web/3.29.0/js/hosted-fields.min.js"></script>
<!-- Set global variable -->
<script>
    var clientToken = '{{ client_token }}'
</script>
<!-- Load static js to control host fields -->
<script src="{% static 'js/braintree-hosted-fields.js' %}"></script>
{% endblock %}